@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var website = Model.Content.Ancestors().FirstOrDefault(x => x.DocumentTypeAlias == "website");
}
<html>
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>
        @Umbraco.Content(website.Id).companyName @CurrentPage.title
    </title>
    <link href="~/Content/scss/main.min.css" rel="stylesheet" />
</head>
<body class="bg-light">
    @Umbraco.RenderMacro("nav")
    <section class="main-section pt-4 bg-white">
        @RenderBody()
    </section>
    <section class="bg-light">
        @Html.Partial("Footer", website)
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>
</body>
</html>