@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var website = Model.Content.Ancestors().FirstOrDefault(x => x.DocumentTypeAlias == "website");
}
<html>
<head>
    <title>
        @Umbraco.Content(website.Id).companyName @CurrentPage.title
    </title>
    <link href="~/Content/scss/main.min.css" rel="stylesheet" />
</head>
<body>
    @Umbraco.RenderMacro("nav")
    <section class="main-section pl-5 pt-3">
        @RenderBody()
    </section>
    <section class="pl-5">
        @Html.Partial("Footer", website)
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>
</body>
</html>