@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    var selection = Model.Content.Site().Children()
                        .Where(x => x.IsVisible());
    var website = Umbraco.Content(Model.Content.Site().Id);
    var homePage = Umbraco.Content(website.umbracoInternalRedirectId);
    var homePageNode = Umbraco.Content(homePage.Id);
    var homePageNavName = !string.IsNullOrEmpty(homePageNode.navigationName) ? homePageNode.navigationName : homePage.Name;
}
<div class="bg-light">
    <div class="container">
        <nav class="navbar p-0 pt-4 navbar-expand-lg navbar-light bg-light rounded">

            @if (website.logo != null)
            {
                var media = Umbraco.Media(website.logo.Id);
                <a class="navbar-brand" href="/">
                    <img src="@media.Url" height="@website.logoHeight" />
                </a>
            }
            else
            {
                <a class="navbar-brand" href="@homePage.Url">@homePageNavName</a>
            }
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbarsExample09" style="">
                <ul class="navbar-nav mr-auto">
                    @foreach (var item in selection)
                    {
                        var node = Umbraco.Content(item.Id);
                        if (!node.excludeFromNavigation)
                        {
                            var navName = node.navigationName;
                            var fallback = !string.IsNullOrEmpty(node.navigationName) ? navName : item.Name;
                            <li class="nav-item">
                                <a class="nav-link" href="@item.Url">@fallback</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </nav>
    </div>
</div>